.marquee {
   overflow: hidden;

}

.marquee span {
    display: inline-block;
    white-space: nowrap;
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor,
                 calc(var(--tw) * 2) 0 currentColor,
                 calc(var(--tw) * 3) 0 currentColor,
                 calc(var(--tw) * 4) 0 currentColor;

    will-change: transform;
    animation: marquee var(--ad) linear infinite;
    display: block;
    text-align: center;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


/*
@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation: none;
    text-shadow: none;
    width: auto;
    display: block;
    text-align: center;
    white-space: normal;
  }
}
